.headTitle{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    text-align: right;  
    overflow: hidden;

    .title{
        margin-bottom: 10px;
        display: block;
        margin-right: 105px;
        border: 1px solid $green;
        border-top: none;
        padding: 45px 22px 12px 22px;
        border-radius: 0 0 20px 20px;
        color: $white;
        background: $dark;
        font-weight: 500;
        box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3),
        inset 4px -5px 15px rgba(0, 0, 0, 0.3);

        // box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.5);
    }
}


@media screen and (max-width: 992px) {
    .headTitle .title{
        padding-top: 14px;
        margin-bottom: 28px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .headTitle .title{
        margin-right: 60px;
    }
}

@media screen and (max-width: 560px) {
    .headTitle .title{
        padding: 8px 14px 8px 14px;
        margin-bottom: 38px;
        font-size: 14px;
        margin-right: 20px;
    }
}