.titleLine{
    text-align: right;
    direction: rtl;
    padding: 0 47px;

    h4{
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
    }

    .line{
        width: 320px;
        height: 2px;
        background: linear-gradient(to left, $purple, $dark);
    }
}